<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.zhongbai233.mcphone.armprobe">
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="36" />
    <application android:label="ARM64 Bridge Probe" android:theme="@android:style/Theme.Material.Light.NoActionBar" android:extractNativeLibs="true">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
    </application>
</manifest>
