<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.zhongbai233.mcandroidphone.camera" android:versionCode="1" android:versionName="0.1.0">
    <uses-sdk android:minSdkVersion="29" android:targetSdkVersion="36" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:label="游戏相机" android:theme="@android:style/Theme.Material.NoActionBar" android:allowBackup="false" android:supportsRtl="true">
        <activity android:name=".CameraActivity" android:exported="true" android:configChanges="orientation|screenSize">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
    </application>
</manifest>
